<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'faculty/images/past_ql.webp' %}" alt="pastq logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faculty:about_pastq' %}">About</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_student %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'faculty:student_dashboard' %}">Dashboard</a>
                        </li>
                    {% elif request.user.is_lecturer %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'faculty:lecturer_dashboard' %}">Dashboard</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <span class="nav-link">Hello, {{ request.user.first_name }}!</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-custom" href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faculty:choice' %}">Dashboard</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>